<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href='/static/style.css' />
<link rel="icon" href="https://img.icons8.com/doodle/48/000000/chat.png">

<script type="text/javascript">
function FocusOnInput()
{
     document.getElementById("message").focus();
}
</script>

<style>

</style>
<title>Chatter</title>
</head>
<body onload="FocusOnInput()">
{% for message in messages.splitlines(): %}
  <div style="padding:10px;background:#123;">{{message}}</div>
{% endfor %}
<div class="form">
<form action="/send/{{ key }}" method="POST">
    <label for="name">Message:</label>
    <input type="input" id="message" name="message">
	<button type="submit">Send</button>
</form>
</div>

</body>
</html>
