<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href='/static/style.css' />
<link rel="icon" href="https://img.icons8.com/doodle/48/000000/chat.png">
<style>

</style>
<title>Chatter</title>
</head>
<body>

<div class="form">
<form action="/cl" method="POST">
	<label for="email">Email:</label>
    <input type="email" id="email" name="email"><br>
	
	<label for="password">Password:</label>
    <input type="password" id="password" name="password"><br>
	

	<br>
	<button type="submit">Submit</button><br><br><br>
	<a href="forgot_password.html">Forgot password?</a>
</form>
</div>

</body>
</html>
